<div id="container_success">
  <header>

  </header>

  <div id="row">
    <div id="column_1">
        <div id="user">
            <div id="img">
                <img src="" height="60px" width="60px" />
            </div>
            <div id="firstName">
                Xesar Miguel
            </div>
        </div>
        <div id="grupos">
            <div id="title">
                <ul>
                  <li>Grupo 1</li>
                  <li>Grupo 2</li>
                  <li>Grupo 3</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="column_2">

    </div>

    <div id="column_3">

    </div>
  </div>

  <footer>

  </footer>
</div>