// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box{
  padding-bottom:40px;
}

.simple_form div input{
  width: 99%;
  font-size: 20px;
  display: block;
  padding:5px;
}

.simple_form select {
  width: 99%;
}