<div class="list">
  <ul>
    <li><a href="/concerts">Administrar Conciertos</a></li>
    <li><a href="/groups">Administrar Grupos</a></li>
    <li><a href="/locals">Administrar Locales</a></li>
    <li><a href="/users">Administrar Usuarios</a></li>
  </ul>
</div>